# quick fix for moving test.html to app.html
redirect 301 /test.html http://gantti.cc/app

RewriteEngine on

# Hide .html extension
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]
